.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.ruff_cache/
.pytest_cache/
.mpytest_cache/
.bot_polling/



.vscode/launch.json
.DS_Store
backend/.DS_Store
backend/app/.DS_Store
serbian_words_with_counts.txt
words copy.yaml
words.yaml
